@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
html,
body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header .wrapper {
	position: relative;
	margin-top: 2.5em;
	height: 60px;
	width: 55vw;
	line-height: 60px;
	border-radius: 50px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
		-3px -3px 7px rgba(255, 255, 255, 0.05);
}
.wrapper nav {
	position: relative;
	display: flex;
}
.wrapper nav label {
	flex: 1;
	width: 100%;
	z-index: 1;
	position: relative;
	cursor: pointer;
}
.wrapper nav label a {
	position: relative;
	z-index: -1;
	color: #8c8c8c;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	transition: color 0.6s ease;
}
.wrapper nav label a i {
	font-size: 25px;
	margin: 0 7px;
	color: #8c8c8c;
}
.wrapper nav #home:checked ~ label.home a,
.wrapper nav #home:checked ~ label.home a i,
.wrapper nav #hero:checked ~ label.hero a,
.wrapper nav #hero:checked ~ label.hero a i,
.wrapper nav #contact:checked ~ label.contact a,
.wrapper nav #contact:checked ~ label.contact a i,
.wrapper nav #testmonials:checked ~ label.testmonials a,
.wrapper nav #testmonials:checked ~ label.testmonials a i,
.wrapper nav #about:checked ~ label.about a,
.wrapper nav #about:checked ~ label.about a i {
	color: #fff;
}
.wrapper nav .tab {
	position: absolute;
	height: 100%;
	width: 20%;
	left: 0;
	bottom: 0;
	background: #a8adb3;
	border-radius: 50px;
	transition: 0.6s cubic-bezier(0.6, -0.55, 0.265, 1.55);
}
.wrapper nav #home:checked ~ label.home a {
	color: #fff;
}
.wrapper nav #hero:checked ~ .tab {
	left: 20%;
}
.wrapper nav #contact:checked ~ .tab {
	left: 40%;
}
.wrapper nav #testmonials:checked ~ .tab {
	left: 60%;
}
.wrapper nav #about:checked ~ .tab {
	left: 80%;
}
.wrapper nav input {
	display: none;
}

.social-media {
	position: absolute;
	top: 1em;
	left: 1em;
	display: flex;
	gap: 10px;
}
.social-media a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	transition: color 0.6s ease;
}

.call-us {
	position: absolute;
	top: 1em;
	right: 1em;
	display: flex;
	gap: 10px;
}
.call-us > span {
	color: red;
}
.call-us a {
	color: #000;
	font-size: 20px;
	text-decoration: none;
	transition: color 0.6s ease;
}

.hero-section {
	position: relative;
	background: rgb(245, 242, 242);
	box-shadow: 0 -4px 5px rgba(131, 129, 129, 0.5);
	width: 80vw;
	height: 60vh;
	margin: 0 auto;
}

.hero-section .container {
	margin: 2em 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.hero-section .container .text {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero-section .container .text > p,
.hero-section .container .text > h1 {
	width: 75%;
	margin: 0.5em auto;
}
.hero-section .container .text .learn-more {
	background: rgb(34, 136, 34);
	color: #fff;
	padding: 0.5em;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 1em;
	justify-self: flex-start;
}
.hero-section .container .pic {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-section .container .pic img {
	width: 70%;
	height: 70%;
}

.features-section {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.features-section .feature-cards {
	display: flex;
	justify-self: center;
	align-items: center;
	margin: 2em auto;
}
.features-section .feature-cards .feature-card {
	max-width: 200px;
	margin: 0.6em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.feature-card .feature-title {
	font-weight: 500;
	color: #000;
	text-align: center;
}
.feature-card .feature-title h2 {
	margin: 1em auto;
}
.feature-card .feature-icon > .fa {
	font-size: 50px;
	color: orange;
}
.testmonials-section {
	margin-bottom: 3em;
	width: 100vw;
}
.testmonials-section #head {
	width: 100%;
	text-align: center;
	font-weight: 700;
	margin: 1em auto;
}

.testmonials-section .cards {
	width: 100vw;
	gap: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.testmonials-section .cards .card {
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	max-width: 300px;
	box-shadow: -5px 4px 5px 0px rgba(209, 200, 200, 0.75);
}
.testmonials-section .cards .card .avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.testmonials-section .cards .card .avatar img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.testmonials-section .cards .card .customer-name h3 {
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Pacifico', cursive;
	margin: 0.25em auto;
}

.testmonials-section .cards .card .customer-name p {
	font-size: 1em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin: 0.25em auto;
	color: grey;
}

.customer-name h3,
.customer-name p,
.card > .description {
	text-align: center;
}
